<section id="projects">
    <div class="container">
        <h3>2016</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <span class="label label-success">Conference Proceedings</span>&nbsp;&nbsp;
                    <strong>Rahaman, Inzamam</strong>, and Hosein, Patrick.
                    "On the multi-stage influence maximization problem."
                    In <i>Computational Intelligence (LA-CCI), 2016 IEEE Latin American Conference on</i>, pp. 1-6.
                    IEEE, 2016.
                </h5>
                <h5>
                    <span class="label label-success">Conference Proceedings</span>&nbsp;&nbsp;
                    <strong>Rahaman, Inzamam</strong>, and Hosein, Patrick.
                    "Heuristics for advertising revenue optimization in Online Social Networks."
                    <i>In Advances in Social Networks Analysis and Mining (ASONAM), 2016 IEEE/ACM International
                        Conference on</i>, pp. 505-509. IEEE, 2016.
                </h5>
                <h5>
                    <span class="label label-primary">Workshop</span>&nbsp;&nbsp;
                    <strong>Rahaman, Inzamam</strong>,
                    and Hosein, Patrick.
                    "Using MapReduce for Impression Allocation in Online Social Networks."
                    In <i>12th International Workshop on Mining and Learning with Graphs</i>,
                    San Francisco, USA. 2016.
                </h5>


            </div>
        </div>
    </div>
</section>
