<section id="projects">
    <div class="container">

        <h3>2017</h3>
        <div class="panel panel-default">

            <div class="panel-body">

                <h5>
                    <span class="label label-success">Conference Proceedings</span>
                    <strong>Rahaman, Inzamam</strong>, and Patrick Hosein.
                    "Exploiting Gaussian Word Embeddings for Document Clustering"
                    To appear in <i>Future Technologies Conference, 2017</i>. IEEE, 2017
                </h5>

                <h5>

                    <span class="label label-warning">Journal</span>
                    <strong>Rahaman, Inzamam</strong>, and Patrick Hosein.
                    "Exploiting Gaussian Word Embeddings for Directed Link Prediction"
                    In <i>13th International Workshop on Mining and Learning with Graphs, co-located with KDD2017</i>,
                    Halifax, Canada, 2017.

                </h5>

                <h5>

                    <span class="label label-warning">Journal</span>
                    <strong>Rahaman, Inzamam</strong>, and Patrick Hosein.
                    "On the Multi-staged Impression Allocation in Online Social Networks"
                    To appear in <i>Lecture Notes in Social Networks</i>. Springer, Accepted in 2017

                </h5>

            </div>

        </div>

        <h3>2016</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <span class="label label-success">Conference Proceedings</span>&nbsp;&nbsp;
                    <strong>Rahaman, Inzamam</strong>, and Hosein, Patrick.
                    "On the multi-stage influence maximization problem."
                    In <i>Computational Intelligence (LA-CCI), 2016 IEEE Latin American Conference on</i>, pp. 1-6.
                    IEEE, 2016.
                </h5>
                <h5>
                    <span class="label label-success">Conference Proceedings</span>&nbsp;&nbsp;
                    <strong>Rahaman, Inzamam</strong>, and Hosein, Patrick.
                    "Heuristics for advertising revenue optimization in Online Social Networks."
                    <i>In Advances in Social Networks Analysis and Mining (ASONAM), 2016 IEEE/ACM International
                        Conference on</i>, pp. 505-509. IEEE, 2016.
                </h5>
                <h5>
                    <span class="label label-primary">Workshop</span>&nbsp;&nbsp;
                    <strong>Rahaman, Inzamam</strong>,
                    and Hosein, Patrick.
                    "Using MapReduce for Impression Allocation in Online Social Networks."
                    In <i>12th International Workshop on Mining and Learning with Graphs, co-located with KDD2016</i>,
                    San Francisco, USA. 2016.
                </h5>


            </div>
        </div>
    </div>
</section>
