<section id="note">
    <div class="container">
        I've been a Teaching Assistant for the following courses:
    </div>
</section>
<section id="projects">
    <div class="container">
        <h3>Jan-May 2017</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>COMP3850</strong> - Intelligent Systems
                </h5>
                <h5>
                    <strong>COMP3950</strong> - Modelling and Simulation
                </h5>
                <h5>
                    <strong>COMP3990</strong> - Project
                </h5>
            </div>
        </div>

        <h3>Sept-Dec 2016</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>COMP2700</strong> - Database Management Systems I
                </h5>
                <h5>
                    <strong>COMP3150</strong> - Computer Networking
                </h5>
            </div>
        </div>

        <h3>June-Aug 2016</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>COMP3000</strong> - Design and Analysis of Algorithms
                </h5>
            </div>
        </div>

        <h3>Jan-May 2016</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>COMP1602</strong> - Programming II
                </h5>
                <h5>
                    <strong>COMP3250</strong> - Software Engineering
                </h5>
                <h5>
                    <strong>COMP3990</strong> - Project
                </h5>
            </div>
        </div>

        <h3>Sept-Dec 2015</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>COMP2700</strong> - Database Management Systems I
                </h5>
                <h5>
                    <strong>COMP3150</strong> - Computer Networking
                </h5>
                <h5>
                    <strong>COMP3550</strong> - Internet Technologies II
                </h5>
                <h5>
                    <strong>INFO2415</strong> - Enterprise Database Systems
                </h5>
            </div>
        </div>
    </div>
</section>
